POSTGRES_USER=dwh_user
POSTGRES_PASSWORD=dwh_pass
POSTGRES_DB=dwh
DWH_POSTGRES_HOST=localhost
DWH_POSTGRES_PORT=5434
DWH_POSTGRES_DOCKER_HOST=postgres-dwh
DWH_POSTGRES_DOCKER_PORT=5432

SOURCE_POSTGRES_USER=olist
SOURCE_POSTGRES_PASSWORD=olist
SOURCE_POSTGRES_DB=olist_source
SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5433
SOURCE_POSTGRES_DOCKER_HOST=postgres-olist-source
SOURCE_POSTGRES_DOCKER_PORT=5432
